body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:aliceblue;
    margin: 0;
    padding: 0;
}

h3 {
    color: #333;
}
h4 {
    color: #666;
}
#todo_form {
    margin: 20px auto;
    width: 300px;
   
}
.field {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#new_todo {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}
